<resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <properties>
        <property id="AllowGregorianView" type="boolean">true</property>
        <property id="DefaultGregorian" type="boolean">false</property>
        <property id="HolidayColor" type="number">0xFFFF00</property>
        <property id="DayOffColor" type="number">0x550000</property>
        <property id="HideHolidaysInGregorian" type="boolean">false</property>
    </properties>

    <settings>
        <setting propertyKey="@Properties.AllowGregorianView" title="@Strings.AllowGregorianViewTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.DefaultGregorian" title="@Strings.DefaultGregorianTitle">
            <settingConfig type="boolean"/>
        </setting>
        <setting propertyKey="@Properties.HolidayColor" title="@Strings.HolidayColorTitle">
            <settingConfig type="list">
                <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>
                <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
                <listEntry value="0x550000">@Strings.ColorDkRed</listEntry>
                <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
                <listEntry value="0x005500">@Strings.ColorDkGreen</listEntry>
                <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
                <listEntry value="0xAA00AA">@Strings.ColorPurple</listEntry>
                <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.DayOffColor" title="@Strings.DayOffColorTitle">
            <settingConfig type="list">
                <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>
                <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
                <listEntry value="0x550000">@Strings.ColorDkRed</listEntry>
                <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
                <listEntry value="0x005500">@Strings.ColorDkGreen</listEntry>
                <listEntry value="0x0000FF">@Strings.ColorBlue</listEntry>
                <listEntry value="0xAA00AA">@Strings.ColorPurple</listEntry>
                <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            </settingConfig>
        </setting>
        <setting propertyKey="@Properties.HideHolidaysInGregorian" title="@Strings.HideHolidaysInGregorianTitle">
            <settingConfig type="boolean"/>
        </setting>
    </settings>

</resources>
